table{
  margin:0 auto;
  width:300px;
  background-color:#282828;
  table-layout: fixed;
  border-spacing:0;
}
td{
  box-shadow: 0 0 0 1px #282828 inset;
}
td:hover{
  background-color:#C8C8C8 !important;
}
@media (min-width: 1200px) {
  table{
    width:600px;
  }
}
